<!DOCTYPE html>
<html>
  <head>
    <title>Mooc nodeJse de <%= hechopor %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Curso nodeJs de <%= hechopor %></h1>
    <img src="https://coderwall-assets-0.s3.amazonaws.com/uploads/user/avatar/46765/3c15baddace2ab42971a68f97e6325a8.jpeg">
    <div class="js-video">
      <iframe width="50%" height="70%" src="https://www.youtube.com/embed/kxTt2URcUI8?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
